<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message from<%= message.user %></title>
</head>
<body>
    <div class="container">
        <h1>Message</h1>
        <div class="message-info">
            <h2><%= message.username %></h2>
            <p><%= message.message %></p>
            <p><%= message.added %></p>
        </div>
        <div class="back"><a href="/">Back</a></div>
    </div>
</body>
</html>